---
Language: Cpp
BasedOnStyle:  Chromium
SortIncludes: false
SortUsingDeclarations: false
BreakStringLiterals: false
BreakConstructorInitializersBeforeComma: true
ReflowComments: false
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse:      true
...
